.navbar{
    background-color: paleturquoise;
    z-index: 9;
    padding: 5px;
    display: flex;
    box-shadow: 0px 3px 100px 0px rgba(0, 0,0,0.35)
}

.nav_top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width: 60%;
}

.nav_side{
    float:right;
    width: 40%;
    margin-top: 25px;
}

.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    padding-top: 25px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: orangered;
    transition: all 0.75s ease;
    text-decoration: none;

}

.main{
    background-image: url('../E-commerce-basic/images/bgimage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed; 
    /* to create a parallex image basically image is fixed but the text moves over it */
     height: 80vh; 

 } 

.main .main_content{
    padding-top: 10%;
    margin-right: 0%;
    
    text-align: center;
    align-items: center;
    align-content: center;
}

.main .main_content h2{
    color: black;
    font-size: 50px;
    font-family: cosmmic, sans-serif;
    font-weight: bolder;
    
    line-height: 25px;
}
.main .main_content h2 span{
    font-size: 21px;
    color: rgb(10, 253, 83);
    opacity: 0.85;
    font-weight: lighter;
    line-height: 10px;
    text-align: center;
}

.main .main_content .btn{
    margin-top: 50px;

}

.main .main_content .btn a{
    text-decoration: none;
    font-family: cosmic, sans-serif;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: purple;
    color: yellow;
    text-align: center;
    border: 400px rgb(255, 0, 0);
    border-radius: 10px;
    

}

.main .main_content .btn a:hover{
    background-color: black;
    color: orangered;
    border: none;
    border-bottom: 4px solid orangered;
    transition: 2.55s;
}
.products{
    padding-bottom: 15px;
}

.products h2{
    color: black;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    
}

.products .product_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    
}

.products .product_container .item{
    width: 33.33%;
    margin: 10px;
    height: auto;

}

.products .product_container .item .item_img{
    width:100%;
    height: 250px;
    overflow: hidden;
}

.products .product_container .item .item_img img{
    width:100%;
    height: 250px;
}

.products .product_container .item .item_content{
    text-align: center;
}

.products .product_container .item .item_content h3{
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
    text-align: center;
}

.products .product_container .item .item_content p{
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
    text-align: center;
}

.products .product_container .item .item_content a{
    text-decoration: none;
    font-family: cosmic, sans-serif;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: purple;
    color: yellow;
    text-align: center;
    border: 400px rgb(255, 0, 0);
    border-radius: 10px;
    

}

.products .product_container .item .item_content a:hover{
    background-color: black;
    color: orangered;
    border: none;
    border-bottom: 4px solid orangered;
    transition: 2.55s;
}

.products .product_container .item:hover{
    box-shadow: 0px 3px 90px 0px lightgray;
}

.products .product_btn{
    text-align: center;
    margin-top: 60px;

}

.products .product_btn a{
    text-decoration: none;
    font-family: cosmic, sans-serif;
    padding: 10px 20px;
    background-color: purple;
    color: yellow;
    text-align: center;
    border: 400px rgb(255, 0, 0);
    border-radius: 10px;
}

.products .product_btn a:hover{
    background-color: black;
    color: orangered;
    border: none;
    border-bottom: 4px solid orangered;
    transition: 2.55s;
}

.keypoints{
    padding: 50px;
}

.keypoints h2{
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center;
}

.keypoints .key_container{
    display:flex;
}

.keypoints .key_container .key_content{
    width: 40%;
    padding: 20px;
    float: left;
}

.keypoints .key_container .key_content li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left:2px solid orange;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(0, 0,0,0.15) ;

}

.keypoints .key_container .key_img{
    width: 20%;
    height: 20%;
    float: right;
    margin-left: 100px;
}

.keypoints .key_container .key_img{
    width: 100%;
}

.testimonials{
    padding: 50px;
}

.testimonials h2{
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.testimonials .testi_container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.testimonials .testi_container .carousel-inner{
    background-color: white;
    
}

.testimonials .testi_container .item{
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: none;
}

.testimonials .testi_container .item .item_img{
    width:100%;
    height: 550px;
    overflow: hidden;
    text-align: center;
    
}

.testimonials .testi_container .item .item_img img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 100px;
}

.testimonials .testi_container .item .item_img .item_content{
    text-align: center;

}

.testimonials .testi_container .item .item_img .item_content h3{
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
}

.testimonials .testi_container .item .item_img .item_content p{
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

.team {
    padding: 50x;
}

.team h2{
    color: black;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.team .team_container{
    display: flex;
}

.team .team_container .team_video{
    width: 40%;
    padding: 20px;
}

.team .team_container .team_video iframe{
    width: 100%;
    border: 10px solid orange;
    outline: none;
}

.team .team_container .team_contents{
    width: 30%;
    padding: 20px;
    margin-left: 50px;
}

.team .team_container .team_contents p{
    padding: 10px;
    font-size: 15px;
    font-family: verdana,sans-serif;
}

.feed{
    background-image: url('../E-commerce-advanced/images/bgimage.jpg');
    background-size: cover;
}

.feed h2{
    color: black;
    font-size: 35px;
    font-family: cosmic, sans-serif;
    padding: 10px;
    text-align: center;
}

.feed .feed_form{
    text-align: center;
}

.feed .feed_form form{
    padding: 20px;
}

.feed .feed_form form input{
    width: 30%;
    margin:10px;
}

.feed .feed_form form textarea{
    width:30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}

.feed .feed_form form button{
    width:30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: purple;
    color: azure;
    border-radius: 5px;    
}

.aboutus{
    padding: 100px;
}

.aboutus h2{
    color: black;
    font-size: 35px;
    font-family: cosmic, sans-serif;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.aboutus p{
    padding: 10px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
footer{
    background-color: gray;
    padding: 50px;

}

footer .pages{
    text-align: center;

}

footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;

}

footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;

}

footer .pages a:hover{
    color: azure;
}

footer .docs{
    text-align: center;

}

footer .docs h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;

}

footer .docs a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;

}

footer .docs a:hover{
    color: azure;
}

footer .socials{
    text-align: center;

}

footer .socials h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;

}

footer .socials a{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}

footer .socials a:hover{
    color: azure;
}

footer .contacts{
    text-align: center;

}

footer .contacts h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;

}

footer .contacts a{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}

footer .contacts a:hover{
    color: azure;
}